# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

classes/

### IntelliJ
/.idea/
out

### batect-specific

# Don't include the dynamically-generated version info file.
app/src/main/kotlin/batect/VersionInfo.kt

# Don't include the test app JAR.
wrapper/test/testapp.jar

docs/node_modules/
docs/_book/
